@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-color: black;
}

.header {
  background-image: url("images/bg-dark.svg");
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100vw;  */
  height: 100vh;
}

.nav-image {
  color: #ffffff;
  display: flex;
}

.nav-links {
  color: #ffffff;
}

.nav-links a {
  padding: 8px 12px;
  background-color: transparent;
  transition: background-color 0.2s ease;
}

.nav-links a:hover {
  border-radius: 16px;
  background-color: #101a31;
  cursor: pointer;
}

.navbar {
  padding-top: 20px;
  padding-left: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact-sales-btn {
  color: #ffffff;
  padding: 6px 16px;
  background-color: #101a31;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  cursor: pointer;
}

.start-free-btn {
  background-color: #ffffff;
  border: none;
  border-radius: 15px;
  padding: 6px 16px;
  font-size: 16px;
}

.start-free-btn:hover {
  background-color: #d9dadd;
  cursor: pointer;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding-top: 50px;
}

.hero-section-link {
  background-color: #020b19;
  padding: 10px 20px;
  border-radius: 16px;
}

.hero-section-link:hover {
  background-color: #0c1a2e;
  cursor: pointer;
}

.hero-section-link span {
  background-color: #0c8c5e;
  padding: 4px 6px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 16px;
}

#right-head-arrow-icon {
  background-color: #ffffff;
  color: #000000;
  padding: 4px 6px;
  font-size: 14px;
  border-radius: 16px;
}

.hero-section-text {
  text-align: center;
  color: #ffffff;
  margin-top: 50px;
  font-size: 56px;
  font-weight: bold;
}

.hero-section-paragraph {
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
}

.hero-section-form input {
  background-color: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  padding: 12px 10px;
  width: 300px;
  color: #ffffff;
  margin-top: 20px;
}

.hero-section-form input:focus {
  outline: none;
}

.hero-section-form-button {
  background-color: #ffffff;
  border: none;
  padding: 6px 8px;
  border-radius: 12px;
  position: absolute;
  top: 26px;
  right: 10px;
}

.hero-section-form-button:hover {
  background-color: #dee9ea;
  cursor: pointer;
}

.hero-section-form {
  position: relative;
}

.interface-img-container {
  margin-top: 10px;
  overflow: hidden;
}

.trusted-by-logos {
  margin-top: 600px;
  width: 60vw;
  margin-left: 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  row-gap: 100px;
  column-gap: 100px;
}

.feature-section {
  margin-top: 100px;
}

.feature-section-heading {
  color: #ffffff;
  text-align: center;
  font-size: 36px;
}

.feature-heading-paragraph {
  margin-top: 20px;
  color: #b4b6b6;
  text-align: center;
  line-height: 1.5;
}

.feature-section-card-cta {
  color: #18e299;
  font-family: "Geist Mono", monospace;
  font-weight: 600;
  font-size: 12px;
}

.feature-section-card-heading {
  color: #ffffff;
  margin-top: 10px;
  font-size: 24px;
  font-weight: 550;
}

.feature-section-card-paragraph {
  color: #b4b6b6;
  font-size: 16px;
  margin-top: 10px;
  line-height: 1.3;
}

.feature-section-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 500px;
  height: 540px;
  border: 1px solid #191a1b;
  border-radius: 16px;
}

.feature-section-cards {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.feature-section-card img {
  margin-top: 60px;
}

.intelligent-assistant-section {
  border: 1px solid #191a1b;
  margin: 20px auto;
  width: 1024px;
  height: 660px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.intelligent-assistant-section-text {
  color: #18e299;
  font-family: "Geist Mono", monospace;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 40px;
}

.intelligent-assistant-section-heading {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.intelligent-assistant-section-paragraph {
  color: #b4b6b6;
  line-height: 1.3;
  font-size: 18px;
  margin-bottom: 40px;
}

.enterprise-section {
  height: 1300px;
  width: 100%;
  background-color: #151616;
  margin: 20px auto;
}

.enterprise-section-container {
  width: 1024px;
  margin: 20px auto;
  padding: 20px;
}

.enterprise-section-text {
  margin-top: 100px;
  font-size: 12px;
  color: #18e299;
  font-family: "Geist Mono", monospace;
  font-weight: 600;
}

.enterprise-section-heading {
  font-size: 40px;
  color: #ffffff;
  font-weight: 600;
}

.enterprise-section-paragraph {
  color: #b8b9b9;
}

.enterprise-section-paragraph-button {
  margin-top: -30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.enterprise-section-paragraph-button button {
  padding: 10px 24px;
  background-color: #ffffff;
  border: none;
  color: #000000;
  font-size: 17px;
  border-radius: 20px;
}

.enterprise-section-paragraph-button button:hover {
  background-color: #dcdcdc;
  cursor: pointer;
}

.enterprise-section-card-img {
  width: 30px;
}

.enterprise-section-card-heading {
  color: #ffffff;
  font-size: 24px;
}

.enterprise-section-card-paragraph {
  color: #b8b9b9;
  line-height: 1.5;
  letter-spacing: 0.3px;
}

.enterprise-section-cards {
  display: flex;
  margin-top: 60px;
  align-items: flex-start;
  gap: 100px;
}

.enterprise-section-paragraph-image {
  margin-top: 50px;
  position: relative;
}

.enterprise-section-image {
  border-radius: 24px;
}

.enterprise-section-image:hover {
  cursor: pointer; 
}

.enterprise-section-image-text {
  position: absolute;
  color: #ffffff;
  top: 60px;
  left: 60px;
}

.enterprise-section-image-text-text {
    font-family: "Geist Mono", monospace;
    font-weight: bold;
    font-size: 12px;
}

.enterprise-section-image-text-heading {
  line-height: 1.3;
  font-size: 24px;
}

#icon {
  font-size: 14px;
}

.image-paragraph-container {
  display: flex;
  margin-top: 100px;
  gap: 60px;
}

.image-paragraph-container-heading {
  font-size: 32px;
}

.image-paragraph-container-info {
  color: #cdcdcd;
  letter-spacing: 0.4px;
  margin-top: -20px;
}

.trusted-by-logs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  margin-top: 40px;
}
